<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Site Details</title>
</head>

<body>

  <table border="1">
    <thead>
      <tr>
        <th>Sl No</th>
        <th>Item No</th>
        <th>Condition Type</th>
        <th>Active</th>
        <th>Change Type</th>
        <th>Customer</th>
        <th>Customer Group</th>
        <th>Customer Hierarchy</th>
        <th>Distribution Channel</th>
        <th>Location Code</th>
        <th>Currency</th>
        <th>Sales Price</th>
        <th>UOM</th>
        <th>Minimum Quantity</th>
        <th>Priority</th>
        <th>Starting Date</th>
        <th>Ending Date</th>
        <th>Lower Limit</th>
        <th>Upper Limit</th>
        <th>MAP</th>
        <th>Offer Article</th>
        <th>Price With Tax</th>
        <th>Tax Percent</th>
        <th>Transportation Zone</th>
        <th>Updated From SAP</th>
        <th>Created</th>
        <th>Updated</th>
      </tr>
    </thead>

    <tbody>
      {% for item in items %}
      <tr>

        <td>{{ loop.index }}</td>

        <td>{{ item.item_no }}</td>

        <td>{{ item.condition_type }}</td>

        <td>{{ item.active }}</td>

        <td>{{ item.change_type }}</td>

        <td>{{ item.customer }}</td>

        <td>{{ item.customer_grp }}</td>

        <td>{{ item.customer_hierarchy }}</td>

        <td>{{ item.distribution_channel_code }}</td>

        <td>{{ item.location_code }}</td>

        <td>{{ item.currency }}</td>

        <td>{{ item.sales_price }}</td>

        <td>{{ item.uom }}</td>

        <td>{{ item.minimum_quantity }}</td>

        <td>{{ item.priority }}</td>

        <td>{{ item.starting_date }}</td>

        <td>{{ item.ending_date }}</td>

        <td>{{ item.lower_limit }}</td>

        <td>{{ item.upper_limit }}</td>

        <td>{{ item.map }}</td>

        <td>{{ item.offer_article }}</td>

        <td>{{ item.price_with_tax }}</td>

        <td>{{ item.tax_percent }}</td>

        <td>{{ item.transportation_zone_code }}</td>

        <td>{{ item.updated_from_sap }}</td>

        <td>{{ item.created }}</td>

        <td>{{ item.updated }}</td>

      </tr>
      {% endfor %}
    </tbody>

  </table>

</body>

</html>